<form>
  <select placeholder="Cation 1">
    <option value="Na">Na</option>
    <option value="Li">Li</option>
    <option value="NH4">NH4</option>
  </select>
  <select placeholder="Cation 2">
    <option value="Mg">Mg</option>
    <option value="Ca">Ca</option>
    <option value="Fe(II)">Fe(II)</option>
  </select>
  <input placeholder="Grams of First Compound">
  <br><br>
  <select placeholder="Anion 1">
    <option value="Br">Br</option>
    <option value="I">I</option>
    <option value="NO3">NO3</option>
  </select>
  <select placeholder="Anion 2">
    <option value="OH">OH</option>
    <option value="O2">O2</option>
    <option value="ClO3">ClO3</option>
  </select>
  <input placeholder="Grams of Second Compound">
</form>