<form [formGroup]="formGroup">
  <select formControlName="cation1">
        <option *ngFor="let cation of cations" value="{{ cation.symbol }}">{{ cation.symbol }}</option>
  </select>
  <select formControlName="anion1">
    <option *ngFor="let anion of anions" value="{{ anion.symbol }}">{{ anion.symbol }}</option>
  </select>
  <input formControlName="grams1" placeholder="Grams of First Compound">
  <br><br>
  <select formControlName="cation2">
      <option *ngFor="let cation of cations" value="{{ cation.symbol }}">{{ cation.symbol }}</option>
  </select>
  <select formControlName="anion2">
      <option *ngFor="let anion of anions" value="{{ anion.symbol }}">{{ anion.symbol }}</option>
  </select>
  <input formControlName="grams2" placeholder="Grams of Second Compound">
  <br><br>
  <button mat-raised-button (click)="setAnswerKey()">Calculate</button>
</form>