<div>
  At the moment this program calculates stochiometry to be used in limiting reactant problems involving monoatomic and polyatomic ions peforming replacement
	reactions. Combustion and gas evolution are forthcoming. This program can be modified to be use in gas evolution reactions using metals and acids, and the reactions of elements. This is forthcoming.
	Input the data into the form and the output will show on the answer key.
</div>
<br>
<div class="form-container">
	<app-stoichiometry-form class="left" [answer]="answer"></app-stoichiometry-form>
	<app-answer-key [answer]="answer"></app-answer-key>
</div>