<div class="header">Answer Key</div>
<ng-container *ngIf="answer.displayKey">
  <br>
  {{ answer.reactant1Subscript }}(aq) + {{ answer.reactant2Subscript }}(aq) => {{ answer.product1Subscript }}(aq) + {{ answer.product2Subscript }}(aq)
  <br><br>
  mole ratio of product {{ answer.product1Subscript }} to reactant {{ answer.reactant1Subscript }} is: {{ answer.moleRatioP1toR1 }}
  <br>
  mole ratio of product {{ answer.product1Subscript }} to reactant {{ answer.reactant2Subscript }} is: {{ answer.moleRatioP1toR2 }}
  <br>
  mole ratio of product {{ answer.product2Subscript }} to reactant {{ answer.reactant1Subscript }} is: {{ answer.moleRatioP2toR1 }}
  <br>
  mole ratio of product {{ answer.product2Subscript }} to reactant {{ answer.reactant2Subscript }} is: {{ answer.moleRatioP2toR2 }}
  <br><br>
  The formula weight for {{ answer.product1Subscript }} is: {{ answer.product1Weight }}
  <br>
  The formula weight for {{ answer.product2Subscript }} is: {{ answer.product2Weight }}
  <br><br>
  0.236 moles of {{ answer.reactant1Subscript }} yields 0.236 moles of {{ answer.product2Subscript }}
  <br>
  0.236 moles of {{ answer.reactant1Subscript }} yields 0.236 moles of {{ answer.product1Subscript }}
  <br>
  0.097 moles of {{ answer.reactant2Subscript }} yields 0.097 moles of {{ answer.product2Subscript }}
  <br>
  0.097 moles of {{ answer.reactant2Subscript }} yields 0.097 moles of {{ answer.product1Subscript }}
  <br><br>
  The limiting reactant is: {{ answer.limitingReactant }}
  <br>
  {{ answer.reactant2Subscript }} yields 8.440 grams of {{ answer.product1Subscript }} and 5.680 grams of {{ answer.product2Subscript }}
  <br>
  The grams used up is: 4.120
  <br>
  The amount of {{ answer.reactant1Subscript }} is 5.880 grams
  <br>
  the sum of excess plus used reagents 20.0 ought to equal the grams of compound 1 {{ answer.grams1 }} and grams of compound 2 {{ answer.grams2 }}
</ng-container>